.wrapper {
    overflow: hidden;
    padding-right:18px;
    padding-left:18px;
    max-width:1236px;
    margin-left:auto;
    margin-right:auto;



    &--medium{

        max-width:976px;
    }


    &--narrow{
        max-width: 470px ;
    }

    &--no-padding{

        padding-left:0;
        padding-right:0;

        @mixin atMedium{
            padding-right:18px;
            padding-left:18px;
        }


    }



    &--no-padding{

        padding-left:0;
        padding-right:0;

        @mixin atLarge{
            padding-right:18px;
            padding-left:18px;
        }


    }

    .wrapper{
        padding-right:0px;
        padding-left:0px;
    }

    &--b-margin {

        

        margin-bottom:2.0rem;
    }


    

}